In [1]:
import json 
import pandas as pd

In [2]:
path_csv = "C:/VS_Code_folder/Mongodb/movie_review/data/movies_metadata_csv/movies_metadata.csv"

In [3]:
data = pd.read_csv(path_csv)

C:\Users\2me41\AppData\Local\Temp\ipykernel_27920\917280658.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(path_csv)

In [4]:
data

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [5]:
data.iloc[:3]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [9]:
data.drop(['adult', 'belongs_to_collection', 'homepage', 'id', 'imdb_id', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'status', 'video'], axis = 1, inplace = True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   budget             45466 non-null  object
 1   genres             45466 non-null  object
 2   original_language  45455 non-null  object
 3   original_title     45466 non-null  object
 4   overview           44512 non-null  object
 5   release_date       45379 non-null  object
 6   revenue            45460 non-null  float64
 7   runtime            45203 non-null  float64
 8   spoken_languages   45460 non-null  object
 9   tagline            20412 non-null  object
 10  title              45460 non-null  object
 11  vote_average       45460 non-null  float64
 12  vote_count         45460 non-null  float64
dtypes: float64(4), object(9)
memory usage: 4.5+ MB

In [ ]:
#data.reindex(columns = ['', '', '',])

In [16]:
data.iloc[:3]

,budget,genres,original_language,original_title,overview,release_date,revenue,runtime,spoken_languages,tagline,title,vote_average,vote_count
0,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",0,Toy Story,7.7,5415.0
1,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",en,Jumanji,When siblings Judy and Peter discover an encha...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0
2,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",en,Grumpier Old Men,A family wedding reignites the ancient feud be...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0

In [15]:
data = data.fillna(0)

In [29]:
import ast

In [42]:
def name_in_dicts(full_list=list):
    new_list = []
    try:
        full_list = ast.literal_eval(full_list)
        for each_dict in full_list:
            new_list.append(each_dict['name'])
    except:
        new_list = []
    return new_list

In [74]:
# pd.to_datetime(df['q_date']).dt.strftime('%Y-%m-%dT%H:%M:%SZ')
runner = 0
final_list = []
for ind in data.index:
    runner += 1
    # ts = pd.Timestamp(year = 2011,  month = 11, day = 21, hour = 10, second = 49, tz = 'US/Central')
    #print(runner, data['release_date'][ind], type(data['release_date'][ind]))
    if data['release_date'][ind] == 0:
        date_only = ['2023', '04', '22']
    else:
        date_only = data['release_date'][ind].split("-")
    if len(date_only) != 3:
        date_only = ['2023', '04', '22'] 
    rel_date = pd.Timestamp(year= int(date_only[0]), month=int(date_only[1]), day=int(date_only[-1])).isoformat()
    #rel_date = pd.to_datetime(data['release_date'][ind]).dt.strftime('%Y-%m-%dT%H:%M:%SZ')
    #release_date = str(data['release_date'][ind])
    # print(runner, rel_date, type(rel_date))
    # if runner > 3:
    #     break

In [68]:
from tqdm import tqdm

In [76]:
runner = 0
final_list = []
for ind in tqdm(data.index):
    runner += 1
    gerens = name_in_dicts(data['genres'][ind])
    spoken = name_in_dicts(data['spoken_languages'][ind])
    if data['release_date'][ind] == 0:
        date_only = ['2023', '04', '22']
    else:
        date_only = data['release_date'][ind].split("-")
    if len(date_only) != 3:
        date_only = ['2023', '04', '22'] 
    rel_date = pd.Timestamp(year= int(date_only[0]), month=int(date_only[1]), day=int(date_only[-1])).isoformat()
    if type(data['budget'][ind]) != 'int':
        budget = 0
    else:
        budget = int(data['budget'][ind])
    #date_only = data['release_date'][ind].split("-")
    final_list.append({
        "budget"            : budget ,
        "genres"            : name_in_dicts(data['genres'][ind]) ,
        "original_language" : str(data['original_language'][ind]) ,
        "original_title"    : str(data['original_title'][ind]) ,
        "overview"          : str(data['overview'][ind]) ,
        "release_date"      : rel_date ,
        "revenue"           : float(data['revenue'][ind]) ,
        "runtime"           : float(data['runtime'][ind]) ,
        "spoken_languages"  : name_in_dicts(data['spoken_languages'][ind]) ,
        "tagline"           : str(data['tagline'][ind]) ,
        "title"             : str(data['title'][ind]) ,
        "vote_average"      : float(data['vote_average'][ind]) 
        #"vote_count"        : float(data['vote_average'][ind])
    })
    #print(data['original_title'][ind], name_in_dicts(data['genres'][ind]), name_in_dicts(data['spoken_languages'][ind]))
    # if runner > 30000:
    #     break

100%|██████████| 45466/45466 [00:11<00:00, 4091.50it/s]

In [67]:
final_list

[{'budget': 30000000,
  'genres': ['Animation', 'Comedy', 'Family'],
  'original_language': 'en',
  'original_title': 'Toy Story',
  'overview': "Led by Woody, Andy's toys live happily in his room until Andy's birthday brings Buzz Lightyear onto the scene. Afraid of losing his place in Andy's heart, Woody plots against Buzz. But when circumstances separate Buzz and Woody from their owner, the duo eventually learns to put aside their differences.",
  'release_date': '1995-10-30T00:00:00',
  'revenue': 373554033.0,
  'runtime': 81.0,
  'spoken_languages': ['English'],
  'tagline': '0',
  'title': 'Toy Story',
  'vote_average': 7.7},
 {'budget': 65000000,
  'genres': ['Adventure', 'Fantasy', 'Family'],
  'original_language': 'en',
  'original_title': 'Jumanji',
  'overview': "When siblings Judy and Peter discover an enchanted board game that opens the door to a magical world, they unwittingly invite Alan -- an adult who's been trapped inside the game for 26 years -- into their living room. Alan's only hope for freedom is to finish the game, which proves risky as all three find themselves running from giant rhinoceroses, evil monkeys and other terrifying creatures.",
  'release_date': '1995-12-15T00:00:00',
  'revenue': 262797249.0,
  'runtime': 104.0,
  'spoken_languages': ['English', 'Français'],
  'tagline': 'Roll the dice and unleash the excitement!',
  'title': 'Jumanji',
  'vote_average': 6.9},
 {'budget': 0,
  'genres': ['Romance', 'Comedy'],
  'original_language': 'en',
  'original_title': 'Grumpier Old Men',
  'overview': "A family wedding reignites the ancient feud between next-door neighbors and fishing buddies John and Max. Meanwhile, a sultry Italian divorcée opens a restaurant at the local bait shop, alarming the locals who worry she'll scare the fish away. But she's less interested in seafood than she is in cooking up a hot time with Max.",
  'release_date': '1995-12-22T00:00:00',
  'revenue': 0.0,
  'runtime': 101.0,
  'spoken_languages': ['English'],
  'tagline': 'Still Yelling. Still Fighting. Still Ready for Love.',
  'title': 'Grumpier Old Men',
  'vote_average': 6.5},
 {'budget': 16000000,
  'genres': ['Comedy', 'Drama', 'Romance'],
  'original_language': 'en',
  'original_title': 'Waiting to Exhale',
  'overview': 'Cheated on, mistreated and stepped on, the women are holding their breath, waiting for the elusive "good man" to break a string of less-than-stellar lovers. Friends and confidants Vannah, Bernie, Glo and Robin talk it all out, determined to find a better way to breathe.',
  'release_date': '1995-12-22T00:00:00',
  'revenue': 81452156.0,
  'runtime': 127.0,
  'spoken_languages': ['English'],
  'tagline': 'Friends are the people who let you be yourself... and never let you forget it.',
  'title': 'Waiting to Exhale',
  'vote_average': 6.1}]

In [77]:
def save_json(data, file_name): # C:\VS_Code_folder\Mongodb\movie_review\data
    file_path = 'C:/VS_Code_folder/Mongodb/movie_review/data/' + file_name + ".json"
    formatted_json = json.dumps(data, indent=4, sort_keys=True)
    with open(file_path, 'w') as file:
        file.write(formatted_json)

In [78]:
save_json(final_list, "movie_json_data")